<center>
  <div>     
    <div class="tabled centered_element">  
      <div class="paragraph margside10 medium_bold">Title</div>  
      <input id="b2btitle" class="rounded_shade_input wide tabled" type="text">
      <div class="paragraph margside10 medium_bold">Description</div> 
      <textarea id="description" class="rounded_shade_input wide tabled" style="height: 100px; display: block;" type="text"></textarea>
      <div class="paragraph margside10 medium_bold">Sector/field of industry</div> 
      <input id="industry" class="rounded_shade_input wide tabled" type="text">
      <div class="paragraph margside10 medium_bold">Geographical location</div>    
      <input id="location" class="rounded_shade_input wide tabled" type="text">
      <div class="paragraph margside10 medium_bold">Other charactiristica</div>
      <input id="charactiristica" class="rounded_shade_input wide tabled" type="text">
      <div class="paragraph margside10 medium_bold">Company size</div>
      <select id="employees" class="rounded_shade_input tabled wide">
        <option value=0>-</option>    
        <option value=1>0-1 employees</option>
        <option value=2>2-10 employees</option>
        <option value=3>11-50 employees</option>
        <option value=4>51-200 employees</option>
        <option value=5>201-500 employees</option>
        <option value=6>501-1000 employees</option>
        <option value=7>+1000 employees</option>
      </select>
      <div class="paragraph margside10 medium_bold">Annual revenue</div>
      <select id="revenue" class="rounded_shade_input tabled wide">
        <option value=0>-</option>  
        <option value=1>0 - 10,000$</option>
        <option value=2>10,000 - 40,000$</option>
        <option value=3>40,000 - 100,000$</option>
        <option value=4>100,000 - 200,000$</option>
        <option value=5>200,000 - 500,000$</option>
        <option value=6>500,000 - 1,000,000$</option>
        <option value=7>1,000,000 - 10,000,000$</option>
        <option value=8>+10,000,000$</option>
      </select>
      <left>
      <div class="">
        <div class="paragraph margside10 medium_bold">Estimated market size in total</div>
        <div class="paragraph margside10">
          from 
          <input id="estimated_size_from" class="more_narrow rounded_shade_input" type="number" > 
          to
          <input id="estimated_size_to" class="more_narrow rounded_shade_input" type="number" >  		  		
        </div>
      </div>
      </left> 
    </div>  
  </div>
  <br>
  <div class="tabled" style="float: right;">
    <input class="rounded_shade_button filled_dark_control" id="saveButton" type="button" value="Create" >
    <input class="rounded_shade_button" type="button" value="Cancel" onclick="closePopup()">
  </div>
</center>
<br>

