<center>
  <div id="popUpMessage" class="padding_normal">
    Message
  </div>
  <div class="tabled">
    <input class="narrow rounded_shade_button dark_control" id="popupConfirmButton" type="button" value="Confirm">
    <input class="narrow rounded_shade_button" id="popupRejectButton" type="button" value="Reject">
  </div>
  <div id="message"></div>
</center>

