<div class="fade_in content_scroll center_container centered_divs_container vertical_center_content">
  <div style="width: 50%; font-family: Jambo-Heading-Medium;">  
    <div class="logo_change" style="text-align: center;">
      <img src="img/history.svg" style="width: 30%;" id="home_logo" style="margin=auto;">        
    </div>
    <h2 class="translate">Your latest sessions</h2>
		<div class="table_container">
			<table id="history" class="files_table">
				<tr><th class="translate">Originator</th><th class="translate">Date</th></tr>
			</table>
		</div>
		<br/>
    <div style="position: relative; right: 0em; top: 0em;">
      <button class="rounded_shade_button filled_dark_control rounded_shade_button_disabled translate" id="restartButton" style="font-weight: bold;" onclick="restartSupport(event)">Restart Support Session</button>            
    </div>
  </div>
</div>
