<div class="fade_in content_scroll center_container centered_divs_container vertical_center_content">
  <div style="width: 50%; font-family: Jambo-Heading-Medium;">  
    <div class="logo_change" style="text-align: center;">
      <img src="img/remotesupport.png" style="width: 50%;" id="home_logo" style="margin=auto;">        
    </div>
    <h1>Hi! Welcome to Simple Remote Support</h1>
    <h3>You have been invited to a remote support session by <span id="other_user">[OTHERUSER]</span></h1>
    
    <div style="position: relative; right: 0em; top: 0em;">
      <div class="rounded_shade_button filled_dark_control" style="font-weight: bold;" onclick="onJoinMeetingClicked(event)">Join Support Session</div>            
    </div>
    <h3>with display name</h3>
    <input type="text" class="rounded_shade_input" id="name" placeholder="Type Your Display Name" onchange="onNameChanged(this)"></input>  
  </div>
</div>
