<div class="fade_in content_scroll center_container centered_divs_container vertical_center_content">
  <div style="width: 100%; font-family: Jambo-Heading-Medium; margin:1em;">  
    <h1>Profile Settings</h1>
    <br>
    <input type="text" class="rounded_shade_input" id="name" placeholder="Name" onchange="onNameChanged(this)"></input>  
    <br>          
    </div>
  </div>
</div>
