<div class="fade_in content_scroll center_container centered_divs_container vertical_center_content">
  <div style="width: 50%; font-family: Jambo-Heading-Medium;">  
    <h1 class="translate">Settings</h1>
    <h3 class="translate">Display Name</h3>
    <input type="text" class="rounded_shade_input translate" id="name" placeholder="Name" onchange="onNameChanged(this)"></input> 
    <h3 class="translate">Theme</h3>
    <div class="rounded_shade_button filled_dark_control translate" id="theme" style="font-weight: bold;" onclick="onThemeClicked(event)">Default</div>            
    <h3 class="translate">Language</h3>
    <div class="rounded_shade_button filled_dark_control translate" id="language" style="font-weight: bold;" onclick="onLanguageClicked(event)">Default</div>            
  </div>
</div>


