<div class="fade_in content_scroll center_container centered_divs_container vertical_center_content">
  <div style="width: 50%; font-family: Jambo-Heading-Medium;">  
    <div class="logo_change" style="text-align: center;">
      <img src="img/remotesupport.png" style="width: 50%;" id="home_logo" style="margin=auto;">        
    </div>
    <h1 class="translate">Hi! Welcome to Simple Remote Support</h1>
    

    <div style="position: relative; right: 0em; top: 0em;">
      <div class="rounded_shade_button filled_dark_control translate" style="font-weight: bold;" onclick="startSupport(event)">Start Support Session</div>            
    </div>
    <h3 class="translate">with display name</h3>
    <input type="text" class="rounded_shade_input translate" id="name" placeholder="Type Your Display Name" onchange="onNameChanged(this)"></input>  
  </div>
</div>
