:root {
  --theme-color: #1e2e4c;
  --high-bg-color: #fff;
  --gray-low-color: #bacdf0;
  --gray-mid-color: #d5e4ff;
  --gray-high-color: #e5eeff;
  --accent1-low-color: #08356d;
  --accent1-mid-color: #295dab;
  --accent1-high-color: #88a8d7;
  --accent2-low-color: #46aebbff;
  --accent2-mid-color: #6ec2cbff;
  --accent2-high-color: #96d1d9ff;
  --accent2-fade-color: #46aebb66;
  --accent3-low-color: #e84a5fff;
  --accent3-mid-color: #ed7383ff;
  --accent3-high-color: #f5adb6ff;
  --not-bg-color: #fc8865;
  --edge-color: #bad0e9;
  --quarter-edge-color: #0000001c;
  --popup-back-bg-color: #ffffffab;
  --dark-text-color: #2f2f2f;
  --dark-text-color-const: #282828ff;
  --mid-text-color: #9cb79b;
  --light-text-color: #fff;
  --light-text-color-const: #fff;
  --popup-text-color: #545454;
  --faint-shadow: #0000004a;
  --menu-text-color: #fff;
  --c1-color: #82a8ad;
  --c2-color: #7ba687;
  --c3-color: #648e62;
  --c4-color: #6cbc5f;
  --c5-color: #9fbc37;
  --c6-color: #dfa14b;
  --c7-color: #de836a;
  --c8-color: #e76d91;
  --c9-color: #b76abe;
  --c10-color: #6b6abe;
  --svg-invertion: 0%;
}
