:root { 
  --theme-color: #000;
  --high-bg-color: #0e0e19;
  --gray-high-color: #191b2b;
  --gray-mid-color: #22273a;
  --gray-low-color: #323054;
  --accent1-low-color: #313456;
  --accent1-mid-color: #262644;
  --accent1-high-color: #6f7298;
  --accent2-low-color: #439aa5;
  --accent2-mid-color: #367f88;
  --accent2-high-color: #326e75;
  --accent2-fade-color: #367f8877;
  --accent3-low-color: #9c2424;
  --accent3-mid-color: #a83636;
  --accent3-high-color: #bb5656;
  --not-bg-color: #fc8865;
  --edge-color: #48495d;
  --quarter-edge-color: #0000001c;
  --popup-back-bg-color: #000000ab;
  --dark-text-color: #e0e0e0;
  --dark-text-color-const: #101010;
  --mid-text-color: #9cb79b;
  --light-text-color: #101010;
  --light-text-color-const: #e0e0e0;
  --popup-text-color: #d5d5d5;
  --faint-shadow: #00000033;
  --menu-text-color: #fff;
  --c1-color: #82a8ad;
  --c2-color: #7ba687;
  --c3-color: #648e62;
  --c4-color: #6cbc5f;
  --c5-color: #9fbc37;
  --c6-color: #dfa14b;
  --c7-color: #de836a;
  --c8-color: #e76d91;
  --c9-color: #b76abe;
  --c10-color: #6b6abe;
  --svg-invertion: 0%;
}
