
:root {
  
  --high-bg-color: #ebefff;
  --mid-bg-color: #8800aa;
  --mid-bg-high-color: #c145e1;
  --deep-bg-color: #2d1650;
  --light-bg-color: #fff;
  --light-bg-high-color: #fafafa;
  --popup-back-bg-color: #24083e8f;
  
  --dark-edge-color: #9e09c4;
  --light-edge-color: #fff;
  --popup-edge-color: #fff;
  --light-edge-hl-color: #c145e1;
  
  --dark-shadow-color: #270e32;
  --strong-shadow-color: #7810a3;
  --medium-shadow-color: #88529f;
  --light-shadow-color: #a27ec4;
  --light-shadow-hl-color: #000;

  --light-text-color: #fff;
  --dark-text-color: #2d1650;
  
  --control-border-radius: 5px;

  --light-control-gradient: none;
  --dark-control-gradient: none;
  --left-nav-gradient: none;
  --right-nav-gradient: none;
  --header-gradient: none;
  --popup-gradient: none;
  --square-frame-gradient: none;
  
  --icon-filter: hue-rotate(-90deg) brightness(1.1);
}


