:root {
  --theme-color: #000;
  --high-bg-color: #fff;
  --gray-low-color: hsl(155deg 52% 88%);
  --gray-mid-color: hsl(155deg 74% 93%);
  --gray-high-color: hsl(155deg 57% 97%);
  --accent1-low-color: #153133;
  --accent1-mid-color: rgb(13 81 84);
  --accent1-high-color: hsl(183deg 50% 69%);
  --accent2-low-color: hsl(208deg 46% 50%);
  --accent2-mid-color: hsl(208deg 47% 61%);
  --accent2-high-color: hsl(208deg 47% 72%);
  --accent2-fade-color: hsl(208deg 46% 50% / 40%);
  --accent3-low-color: #e84a5fff;
  --accent3-mid-color: #ed7383ff;
  --accent3-high-color: #f5adb6ff;
  --not-bg-color: #fc8865;
  --edge-color: hsl(191deg 24% 74%);
  --quarter-edge-color: #0000001c;
  --popup-back-bg-color: #ffffffab;
  --dark-text-color: #2f2f2f;
  --dark-text-color-const: #282828ff;
  --mid-text-color: #9cb79b;
  --light-text-color: #fff;
  --light-text-color-const: #fff;
  --popup-text-color: #545454;
  --faint-shadow: #0000004a;
  --menu-text-color: #fff;
  --c1-color: #82a8ad;
  --c2-color: #7ba687;
  --c3-color: #648e62;
  --c4-color: #6cbc5f;
  --c5-color: #9fbc37;
  --c6-color: #dfa14b;
  --c7-color: #de836a;
  --c8-color: #e76d91;
  --c9-color: #b76abe;
  --c10-color: #6b6abe;
  --svg-invertion: 0%;
}
