:root {  
  --nav-menu-height: 4.5em;
  --header-height: 5.0em;
  --nav-icon-height: 2em;
}

.image_logo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.main_body {
  font-size: 80%;
}

.frontpage_body {
  padding-bottom: var(--nav-menu-height);
  padding-left: 0;
  padding-top: var(--nav-menu-height);
}

.side_header {
  width: 100%;
  height: var(--nav-menu-height);
  
}

.nav_container {
  position: absolute;
  width: 100%;
  z-index: 9;
  bottom: 0;  
  left: 0;
  top: unset;
}

.nav_main {
  background-color: var(--accent1-low-color);
  position: relative;
  margin: 0;
  height: var(--nav-menu-height);
  border-radius: 0;
  display: block;
  top: 0.0em;
  padding: 0.5em 0em;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 0 0.5em var(--faint-shadow);
  width: 100%;
}

.nav_button {
    width: 4.5em;
}

.nav_icon {
  margin-bottom: 0.0em;
  
}

.content_scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.center_container_side {
  padding-left: 0;
}

.config_button {
  margin: 0.8em;
  bottom: unset;
  float: right;
  position: unset;
}

.config_icon {
  height: 3em;
}

.heading_logo {
  height: 3em;
  margin: 0.8em;
}

.side_nav {
  left: calc(0em - var(--side_nav_width));
}

.current_channel_image {
  width: 3em;
  margin-left: 1em;
  float: left;
}

.current_channel_info {
  padding: 0;
  float: left;  
  margin: 0.3em;
  margin-left: 1em;
}

.current_channel_message_container {
  padding-top: 4em;
}

.popup_back {
  padding: 0; 
}

.table_input, .table_number_input {
  font-size: var(--normal-font-size);
}

.popup_frame {
  margin: 0;
  border-radius: 0 ; 
  box-shadow: 0em 0.15em 1em #00000077;
  padding: 1em;
  max-height: 100%;
  overflow: auto;
  color: var(--popup-text-color);
  width: auto;
  max-width: inherit;
}

.back_office_content {
  padding: 1em;
}

.feedback_button {
  margin-top: 1.25em;

}

.message_container_item_other {
  max-width: 60%;
}

.message_container_item_self {
  max-width: 60%;
}

.user_profile {
  width: 100%;
}

.progressForm {  
  min-width: 20em;
}

.file_icon {
  width: 6em;
  height: 6em;
}

.file_icon_image {
  height: 3rem;
  margin: 0px auto;
}

.chat_input {
  width: 13em;
}

.chat_box {
  width: 13em;
}

.chat_frame{
  margin: 0.5em;
}

.chat_image {
  max-width: 60%;
}

.chat_image_popup {
  max-width: 25em; 
  max-height: 30em; 
  width: auto; 
  height: auto;
}

.extra_wide {
  width: 25em;
}

.wide {
  width: 20em;
}
.mid {
  width: 18em;
}

.left50 {
  display: inline-table;
  width: 100%;
}

.nav_in {
  animation: navIn ease 0.1s;
  left: 0;
}

.nav_out {
  animation: navOut ease 0.1s;
  left: calc(0em - var(--side_nav_width));
}

@keyframes navOut {
  0% {
    left: 0px;
  }
  100% {
    left: calc(0em - var(--side_nav_width));
  }
}

@keyframes navIn {
  0% {
    left: calc(0em - var(--side_nav_width));
  }
  100% {
    left: 0px;
  }
}
