:root {    
  --small-radius: 0.4em;
  --mid-radius: 1.4em;
  --large-radius: 2.0em;  
  --header-height: 6em;
  --nav-menu-width: 5em;
  --small-icon-height: 1.5em;
  --side-nav-icon-height: 1.6em;
  --nav-icon-height: 2.2em;
  --small-avatar-height: 3.3em;
  --large-avatar-height: 5.75em;
  --button-height: 2.0em;  
  --small-font-size: 0.80em;
  --normal-font-size: 1.0em;
  --medium-font-size: 1.15em;
  --large-font-size: 1.3em;
  --huge-font-size: 1.5em;  
  --side_nav_width: 20em;
  --edge-width: 0.08em;
  --bottom_pane_height: 4.0em;
  --margin-very-large: 4em;
  --margin-large: 3em;  
  --margin-medium: 2em;
  --margin-small: 1em;
  --margin-tiny: 0.5em;
  --mom-width: 45em;
  --side-menu-margin: 1.6em;
}

@font-face {
  font-family: 'Jambo-Light';
  src: url('../fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'Jambo-Medium';
  src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Jambo-Bold';
  src: url('../fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Jambo-ExtraBold';
  src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Jambo-Heading-Light';
  src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
  font-family: 'Jambo-Heading-Medium';
  src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Jambo-Heading-Bold';
  src: url('../fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: 'Jambo-Heading-ExtraBold';
  src: url('../fonts/Ubuntu-Bold.ttf');
}

h1, h2, h3, h4, h5, h6 {font-family: Jambo-Heading-Medium;}

.app_theme {
  background: var(--theme-color);
}

.popup_frame::-webkit-scrollbar {
  /*width: 5px;*/
  width: 22px;
}

/* Track */
.popup_frame::-webkit-scrollbar-track {
  border-right: solid 15px transparent;
  box-shadow: inset 0 0 0px 10px #00000030;
}
 
/* Handle */
.popup_frame::-webkit-scrollbar-thumb {
  border-right: solid 15px transparent;
  box-shadow: inset 0 0 15px 10px #ffffff3d; 
}

/* Handle on hover */
.popup_frame::-webkit-scrollbar-thumb:hover {
  border-right: solid 15px transparent;
  box-shadow: inset 0 0 15px 10px #ffffff55;  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

html {
  width: 100%;
  height: 100%;
  scrollbar-color: #00000040; 
}

svg {
  stroke: var(--gray-mid-color);

}

input.largerCheckbox { 
  width: 1.3em;
  height: 1.3em;  
  margin: 0.4em;
  background: var(--deep-bg-color);
  cursor: pointer;  
} 

ul {
  line-height: 1.7;
}

li {
  text-align: left;
}

ul.participants_list {
  margin: 0px;
  padding-inline-start: 0.5em;
  list-style-type: '- ';
}

hr {
  border: none;
  border-top: 0.12em solid var(--edge-color);
}

.emoji {
  font-size: 2em;
  display: inline-block;
  padding: 0.25em;
  cursor: pointer;
  font-family: emoji;
}

.main_body {
  height: 100%;
  width: 100%;  
  margin: 0em;
  background-color: var(--gray-high-color);  
  font-family: Jambo-Medium;
  position: absolute;
  top: 0;
  font-size: 85%;
  color: var(--dark-text-color);
}

.video_body {
	font-family: Jambo-Medium;
  height: 100%;
  width: 100%;
	/*max-width: 1024px;*/
	margin: 0em;
  background-color: var(--gray-mid-color);
	font-size: var(--normal-text-size);
	color: var(--dark-text-color);
  font-size: 85%;
}

.video_chat {
  width: 600px;
  height: 450px; 
  position: relative;
  left: -150px;

}


.video_container {
  border-radius: 20px;
  width: 300px;
  overflow:hidden;
  height: 450px;
  display: inline-block;
  margin: 5px;
	background: linear-gradient(0, var(--gray-low-color), var(--gray-mid-color));
  filter: drop-shadow(0px 3px 5px #0007);
}

.video_controls {
  background: linear-gradient(0, black, transparent);
  width: 300px;
  position: absolute;
  z-index: 1;
  bottom: -450px;
  opacity: 0.5;
}

.video_container:hover .video_controls {
  background: linear-gradient(0, black, transparent);
  opacity: 1.0;
  animation: fadeIn ease 0.4s;
}

.video_control_button {
  display: inline-block;
  margin: 0.5em;
  cursor: pointer;
}

.desktop_share{
  width: 100%;
  height: 100%;
  position: absolute; 
  max-height: 83%;
  top: 4em;
}

table {
  font-size: var(--normal-font-size);
}

.spacing_text_small {
  letter-spacing: 0.05em;
}

.line_height_medium {
  line-height: 170%;
}

.frontpage_header {
  background-color: var(--accent1-mid-color);
  margin: 0;
  height: var(--header-height);
  width: 100%;
  position: absolute;
  z-index: 10;
  background-image: var(--header-gradient);
  top: 0;
}

.side_header {
  background-color: var(--accent1-low-color);
  margin: 0;
  position: absolute;
  z-index: 10;
  background-image: var(--header-gradient);
  top: 0;
  height: 100%;
  width: var(--nav-menu-width);
}

.frontpage_body {
  padding-left: var(--nav-menu-width);
  height: 100%;
  width: 100%;  
  box-sizing: border-box;
  background-color: var(--gray-mid-color);
}

.community_body {
  height: 100%;
}

.heading_logo {
  margin: 0.7em;
  height: 3.6em;
  position: absolute;
  user-select: none;
  cursor: pointer;
  filter: invert(var(--svg-invertion));
  /*bottom: 0;*/
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.heading {
  margin-block-end: 0;
}

.frontpage_heading {
  font-size: 3.5em;
  font-family: Jambo-Heading-ExtraBold; 
  color: var(--accent1-mid-color);
  line-height: 130%;
}

.vside {
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(90deg);
  user-select: none;
}

.chat_tab {
  color: var(--dark-text-color);
  padding: 1.0em;
  background: var(--high-bg-color);
  display: inline-block;
  left: 0.0em;
  top: 0.5em;
  cursor: pointer;
  user-select: none;
  border-bottom-right-radius: var(--small-radius);
  border-bottom-left-radius: var(--small-radius);  
}

.files_tab {
  color: var(--dark-text-color);
  padding: 1.0em;
  border-bottom-right-radius: var(--small-radius);
  border-bottom-left-radius: var(--small-radius);
  background: var(--high-bg-color);
  display: inline-block;
  left: 0.0em;
  top: 6.5em;
  cursor: pointer;
}

.side_container {
  color: var(--dark-text-color);
  width: var(--mom-width);
  height: 100%;
  position: absolute;
  right: calc(0em - var(--mom-width));
  z-index: 2;
  background: var(--high-bg-color);
  opacity: 90%;
}

.nav_container{
  position: absolute;
  width: 100%;
  z-index: 10;
  pointer-events: None;
  top: 8em;
}

.nav_main {
  display: table;
  padding-top: 1.1em;
  box-sizing: border-box;
  pointer-events: auto;
  width: var(--nav-menu-width);
}

.nav_button {
  display: inline-block;
  font-family: Jambo-Bold;
  font-size: var(--normal-font-size);
  cursor: pointer;
  user-select: none;
  text-align: center;
  color: var(--menu-text-color);
  vertical-align: top;
  width: var(--nav-menu-width);
  margin-bottom: 1.0em;
}

.nav_button span {
  opacity: 0.5;
}

.side_button_selected span {
  opacity: 1.0;
}

.nav_icon {
  height: var(--nav-icon-height);
  margin-bottom: 0.0em;
  filter: invert(var(--svg-invertion));
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.side_nav_icon {
  height: var(--side-nav-icon-height);
  filter: invert(var(--svg-invertion));
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.notif_icon {
  position: relative;
  width: 0;
  display: none;
  height: 0;
  top: -2em;
  left: -0.5em;
}

.nav_separator {
  width: 1.5em;
  display: inline-block;
  user-select: none;
}

.business_character_icon_container {
  position: relative;
  top: 0.3em;
  height: 1.3em;
  margin-right: 1em;
}

.business_character_icon {
  font-size: 3em;
  color: #60788299;
  position: absolute;
}

.side_nav_button, .side_nav_button_icon {
  font-family: Jambo-Heading-Medium;
  /*border-radius: var(--small-radius);*/
  width: 100%;
  margin-bottom: 0.5em; 
  box-sizing: border-box;
  padding: 1.0em var(--side-menu-margin);
  font-size: var(--medium-font-size);
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.05em;
  user-select: none;
  color: var(--edge-color);
}

.side_nav_button:hover, .side_nav_button_icon:hover {
  background-color: var(--accent2-fade-color);
  color: var(--light-text-color-const);
}

.side_nav_button_selected {
  background-color: var(--accent2-low-color);
  color: var(--light-text-color-const);
}

.side_nav_button_selected:hover {
  background-color: var(--accent2-low-color);  
}

.side_nav_button_icon {
  padding: 0.6em var(--side-menu-margin);
}

.side_nav_heading {
  font-family: Jambo-Heading-Medium;
  font-size: var(--medium-font-size);
  border-radius: var(--small-radius);
  width: 100%;
  box-sizing: border-box;
  padding: 1em var(--side-menu-margin);

  font-weight: bold;
  letter-spacing: 0.056em;
  display: inline-block;
  cursor: pointer;
  color: var(--light-text-color-const);
}

.side_icon {
  padding-left: 2em;
}

.side_nav_heading:hover{

}

.side_nav_heading_selected {
  background-color: var(--accent2-mid-color);  
}


.centered_divs_container {
  text-align: center;
}

.content_div {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;  
  position: relative;
}

.content_scroll {
  overflow: auto;
}

.content_frame {
  padding: 1em;
  padding-top: 1em;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
}

.content {
  overflow: auto;
}

.content_heading {
  border-radius: var(--small-radius);
  font-size: var(--huge-font-size);
  display: inline-block;
  font-family: 'Jambo-Heading-Bold';
}

.vertical_center_content {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
}

.side_nav {
  background-color: var(--accent1-mid-color);
  width: var(--side_nav_width);
  border-right: 0.2em solid var(--gray-high-color);
  height: 100%;
  /*padding: 0.55em;*/
  padding-top: 1.25em;
  z-index: 9;
  box-sizing: border-box;
  position: absolute;
  overflow: auto;
}

.center_container {
  height: 100%;
  width: 100%;  
  box-sizing: border-box;
  
}

.center_heading {
  font-size: var(--large-font-size);
  font-weight: bold;
  font-family: 'Jambo-Heading-Bold';
  letter-spacing: 0.05em;
  display: inline-block;
}

.center_container_side {
  padding-left: var(--side_nav_width);
}

.center_container_bottom {
   padding-bottom: var(--bottom_pane_height);
}


.bottom_pane {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--bottom_pane_height);
  z-index: 9;
}

.todo_content_frame {
  border: 1px solid var(--edge-color);
  margin: 0.5em 0;
  padding: 0.8em;
  border-radius: var(--small-radius);
  background: var(--high-bg-color);
}

.todo_item {
  width: 15em;
  min-height: 5em;
  margin: 0.4em;
  padding: 0.5em;
  display: inline-grid;
  background-color: var(--gray-high-color);
  border-radius: var(--small-radius);
}

.todo_list_header {
  font-weight: bold;
  font-family: Jambo-Medium;
  letter-spacing: 0.05em;
  display: inline-block;
  height: 1.8em;
  width: 25%;
  box-sizing: border-box;
  padding: 0.35em;
  text-align: center;
  border: 0em;
}

.todo_list_item {
  border-radius: var(--small-radius);
  background-color: var(--gray-mid-color);
  
  display: inline-grid;
  box-sizing: border-box;
  padding: 0.85em;
  text-align: center;
  border: 0.1em solid var(--gray-high-color);
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--normal-font-size);
  color: var(--dark-text-color);
}

.milestone_item {
  width: 10em;
  height: 3.5em;

  margin: 0.4em;
  padding-top: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.5em;
  display: inline-grid;
  background-color: var(--gray-high-color);
  border-radius: var(--small-radius);
  font-size: var(--normal-font-size);
}

.agenda_item{
  margin: 0 auto;
  margin-top: 0.4em;
  margin-bottom: 0.6em;

  display: table;
  padding: 0.5em;
  background-color: var(--gray-high-color);
  border-radius: var(--small-radius);
  font-size: var(--normal-font-size);
}

.guidance_button {
  position: relative; 
  top: 0.3em;
}

.guidance {
  max-width: 35em;
}

.rounded_shade_button, .normal_button .rounded_shade_value, .rounded_shade_input {
  -webkit-appearance: none;
  border-radius: var(--small-radius);
  background-color: var(--high-bg-color);
  border: 2px solid var(--edge-color);
  min-height: var(--button-height);
  display: inline-block;
  text-align: center;
  letter-spacing: 0.05em; 
  padding: 0.5em 1.80em;
  box-sizing: border-box;
  user-select: none;
  font-family: Jambo-Medium;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin: 0.25em;
  color: var(--dark-text-color);
  filter: drop-shadow(0px 2px 3px var(--faint-shadow));
}

.rounded_shade_button:active, .normal_button:active {
	filter: drop-shadow(0px 1px 2px var(--faint-shadow));
}


.normal_button , .rounded_shade_input{  
  min-height: var(--button-height);
  display: inline-block;
  cursor: pointer;
}

.large_shade_input {
  padding: 1em;
}

.rounded_shade_input, .rounded_shade_value {
  text-align: left;
}

.normal_button:hover, .rounded_shade_button:hover {
  border: 2px solid var(--edge-color);
  background-color: var(--edge-color); 
  color: var(--light-text-color);;
}

.normal_button:focus, .rounded_shade_input:focus, .rounded_shade_button:focus {
	outline: none;
}



.gray_frame {
  background-color: var(--gray-mid-color);
  border-radius: var(--mid-radius);
  color: var(--dark-text-color);
}

.white_frame {
  background-color: var(--high-bg-color);
  border-radius: var(--mid-radius);
  color: var(--dark-text-color);
}

.square_selector {
  background-color: var(--gray-high-color);
  border-radius: var(--mid-radius) ;  
  color: var(--dark-text-color);
  margin: 1em;
  cursor: pointer;
  padding: 0.3em;
  font-size: var(--normal-text-size);
}

.light_control:-webkit-autofill,
.light_control:-webkit-autofill:hover, 
.light_control:-webkit-autofill:focus{
  border: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}


.light_control {
  border: 2px solid var(--high-bg-color);
  background-color: transparent;/*var(--high-bg-color);*/
  color: var(--high-bg-color);
}

.light_input {
  background-color: var(--high-bg-color);
  border: var(--edge-width) solid var(--quarter-edge-color);
}

.light_control:hover {
  border: 2px solid var(--gray-high-color);
  background-color: var(--high-bg-color);
  color: var(--dark-text-color);
}

.filled_light_control {
  border: 2px solid var(--high-bg-color);
  background-color: var(--high-bg-color);
  color: var(--dark-text-color);
}

.filled_light_control:hover {
  border: 2px solid var(--gray-high-color);
  background-color: var(--high-bg-color);

  color: var(--dark-text-color);
}

.transparent_control {
  background-color: transparent;
  border: var(--edge-width) solid transparent; 
  color: var(--dark-text-color); 
}

.transparent_control:hover {
  background-color: transparent;
  border: var(--edge-width) solid transparent;  
  color: var(--dark-text-color);
}

.alert_control {
  background-color: var(--high-bg-color);
  color: var(--accent3-low-color);
  border: 2px solid var(--accent3-low-color);
  font-family: Jambo-Bold;
  font-weight: bold;
}

.alert_control:hover {
  background-color: var(--accent3-low-color);
  color: var(--light-text-color);
  border: 2px solid var(--accent3-low-color);
}

.filled_alert_control {
  background-color: var(--accent3-low-color);
  color: var(--light-text-color);
  border: 2px solid var(--accent3-low-color);
  font-family: Jambo-Bold;
  font-weight: bold;
}

.filled_alert_control:hover {
  background-color: var(--high-bg-color);
  color: var(--accent3-low-color);
  border: 2px solid var(--accent3-low-color);
}

.dark_control {
  background-color: var(--high-bg-color);
  border: 2px solid var(--accent2-low-color);
  color: var(--accent2-low-color);
  font-family: Jambo-Bold;
  /*border: 0.15em solid transparent;*/
}

.dark_control:hover {
  background-color: var(--accent2-low-color);
  color: var(--light-text-color);
  border: 2px solid var(--accent2-low-color);
  /*border: 0.15em solid transparent;*/
}

.filled_dark_control {
   /* var(--high-bg-color);*/
  border: 2px solid var(--accent1-low-color);  
  font-family: Jambo-Bold;
  background-color: var(--accent1-low-color);
  color: var(--light-text-color-const);  
  
}

.filled_dark_control:hover {
  border: 2px solid var(--accent1-low-color);
  color: var(--accent1-low-color);
  background-color: var(--high-bg-color);
}


.rounded_shade_button_disabled, .rounded_shade_button_disabled:hover {
  color: var(--gray-low-color);
  background-color: var(--gray-mid-color);
 	border: 2px solid var(--gray-mid-color);
  filter: drop-shadow(0px 0px 1px var(--faint-shadow));
}


.no_hover_color:hover{
  background-color: var(--gray-high-color);    
  color: var(--dark-text-color);
}

.gen_pdf_button{
  color: var(--light-text-color-const);
  position: absolute;
 
  bottom: 1em;
}

.config_button {
  margin: 1.0em;
  user-select: none;
  cursor: pointer;
  position: absolute;
  bottom: 0em;
}

.config_icon {
  height: 3em;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  /*filter: invert(var(--svg-invertion));*/
}

.community_button {
  float: right;
  margin-top: 1.5em;
  user-select: none;
  cursor: pointer;
  background-color: var(--gray-mid-color);
  border-radius: var(--mid-radius);
  padding: 0.2em 0.5em;
}

.feedback_button {
  float: right;
  margin-top: 0.4em;
  user-select: none;
  cursor: pointer;
  background-color: var(--accent1-mid-color);
  border-radius: var(--mid-radius);
  border: 2px solid var(--high-bg-color);
  padding: 0.40em 1.7em;
  /*position: absolute;*/
  
  /* padding-top: 0; */
}

.feedback_button_text {
  font-weight: bold;
  font-family: Jambo-Medium;
  color: var(--high-bg-color);
  float: left;
}

.community_button_icon {
  height: 3em;
  float: left;
}
.community_button_text {
    margin: 0.5em;
  position: relative;
  /* bottom: 1em; */
  font-weight: bold;
  font-family: Jambo-Medium;
  color: var(--light-text-color);
  float: left;
}



.icon_dropdown {
  padding: 0.8em;
  padding-bottom: 0.55em;
  cursor: pointer;
  border-radius: var(--mid-radius);
  position: relative;
  top:-0.35em;
  user-select: none;
}

.icon_dropdown:hover {
  background-color: var(--gray-high-color);
}

.icon_dropdown_img {
  height: 2em;
}

.file_icon {
  color: var(--dark-text-color);
  display: inline-grid;
  width: 8em;
  height: 8em;
  text-align: center;
  overflow-wrap: break-word;
  padding: 0.5em;
  border-radius: var(--mid-radius);
  cursor: pointer;
  user-select: none;
}

.file_icon_image {
  height: 4rem;
  margin: 0px auto;
}

.file_icon_text {  
  max-width: 7rem;
  margin: 0 auto;
}

.file_icon:hover {
  background-color: var(--gray-high-color);
  /*color: var(--light-text-color);*/
}

.file_icon_selected {
  background-color: var(--gray-mid-color);
  /*color: var(--light-text-color);*/
}

.file_icon_selected:hover {
  background-color: var(--gray-mid-color);
}

.file_icon .top_right_context_icon {
  opacity: 0;
}

.file_icon:hover .top_right_context_icon {
  opacity: 1;
  animation: fadeIn ease 0.4s;
}

.file_list_heading {
  border-radius: var(--large-radius);
  background-color: var(--gray-mid-color);
  border: 1px solid var(--gray-low-color);
  padding: 0.5em 0.0em;
}

.file_list {
  border-radius: var(--large-radius);
  background-color: var(--high-bg-color);
  border: 1px solid var(--gray-low-color);
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}

.table_container{
	background: white;
	border-radius: 10px;
  border: 1px var(--gray-low-color) solid;
  max-height: 200px;
  overflow-y: auto;
}

.files_table {
  width: 100%;
  border-spacing: 0px 0px;
  user-select: none;
  cursor: pointer;
	background: var(--high-bg-color);
  border: 0px;
}

.files_table tr {
}

.files_table td {
  height: 3em;
  border: 0px;
  padding-left: 1.5em;
  text-align: left;
  border-bottom: 1px solid var(--gray-low-color);
}

.files_table th {
  height: 3em;
  border: 0px;
  border-bottom: 1px solid var(--gray-low-color);
  padding-left: 1.5em;
  font-weight: bold;
  text-align: left;
  position: sticky;
  top: 0;
  background: var(--high-bg-color);
}

.files_table tr:hover td{
  background-color: var(--gray-high-color);
}

.backoffice_files {
  padding-top: 15em;
  height: 100%;
  box-sizing: border-box;
}

.backoffice_files:focus {
	outline: none;
}

.team_profile_edit_button_container {
  float: right;
  height: 0em;
  position: relative;
}

.backoffice_container {
  overflow: hidden;
}

.team_profile_edit_button {
  position: absolute;
  right: 0em;
  bottom: -2em;
}

.top_right_context_icon{
  position: absolute; 
  right: 0.0em; 
  cursor: pointer; 
  top: 0px; 
  padding: 0px;
}

.context_menu {
  background-color: var(--high-bg-color);
  border-radius: var(--mid-radius);
  position: absolute;
  filter: drop-shadow(0px 3px 5px var(--faint-shadow));
  padding: 10px 0;
  border: var(--edge-width) solid var(--edge-color);
}

.context_item, .context_text{
  /*border-radius: var(--small-radius); */
  margin: 0.25em 0em;
  padding: 0.5em 2.0em;
  cursor: pointer;
  user-select: none;
  font-family: Jambo-Medium;
  font-size: var(--normal-font-size);
}

.context_item:hover {
  background-color: var(--gray-high-color);
  color: var(--dark-text-color);
}

.small_button, .small_button_red, .small_button_light {
  border-radius: var(--small-radius);
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: 0.2em 0.4em;
}

.small_button_light {
  background-color: var(--gray-high-color);
  color: var(--dark-text-color);
}

.small_button_light:hover {
  color: var(--dark-text-color);
  background-color: var(--gray-low-color);
}

.small_button_red {
  font-weight: bold;
  color: var(--light-text-color);
  background-color: var(--accent3-low-color);
}

.small_button_red:hover {
  color: var(--dark-text-color);
  background-color: var(--accent3-high-color);
}

.current_channel_message_container{
  padding-top: 7em;
  height: 100%;
  box-sizing: border-box;
}

element.style {
  padding-top: 4em;
  height: 100%;
  box-sizing: border-box;
}

.currency_item {
  float: right;
}

.current_channel_info {
  float: left;
  margin: var(--margin-medium);
  padding-top: 0.3em;
}

.current_channel_image {
  width: 6em;
  margin-left: 2em;
  float: left;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.channel_item {
  cursor: pointer;
  padding: 0.1em var(--side-menu-margin);
  user-select: none;

}

.channel_item:hover {
  cursor: pointer;

}

.channel_caption {
  color: var(--light-text-color-const);
  font-family: Jambo-Heading-Medium;
  font-size: var(--medium-font-size);
  font-weight: bold;
  padding-left: 0.0em;
  position: relative;
  bottom: 1.2em;
  left: 0.5em;
}

.channel_icon {
  height: 3.5em;
  left: -0.0em;
  position: relative;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.inline_icon {
  height: 1.5em; 
  float: right; 
  position:relative; 
  top:-0.25em;
}

.small_inline_icon {
  height: 1em; 
  float: left; 
  margin-right: 0.5em;
}

.chat_input {
  height: auto;  
  overflow: hidden;
  resize: none;
  width: 32em;
  border-radius: var(--small-radius);
  background-color: var(--gray-mid-color);
  letter-spacing: 0.05em;
  padding: 1.0em;
  box-sizing: border-box;
  user-select: none;
  font-family: Jambo-Medium;
  font-size: var(--normal-font-size);
  border: 2px solid transparent;
 
}

.chat_input:focus {
  border: 2px solid orange;
  outline: none;
}

.chat_placeholder {
  position: absolute;
  bottom: 1.3em;
  pointer-events: none;
  margin-left: 1.0em;
  opacity: 50%;
  font-size: var(--normal-font-size);
  user-select: none;
  text-align: left;
}

.chat_box_holder {
  position: absolute;
  bottom: -0.8em;
}

.chat_container {
  width: 69%;
  /*background: #eee;*/
  float: left;
}

.chat_list_container {
  width: 30%;
  /*background: #eee;*/
  float: left;
  border-left: 0.1em solid var(--gray-high-color);
  height: 500px;
  display: table;
}

.chat_frame {
  border: 0.15em solid var(--gray-high-color);
  border-radius: var(--small-radius);
  background-color: var(--light-bg-color);
  margin: 10px auto;
  max-height: 10em;
  max-width: 40em;
}

.chat_box {
  position: relative; 
  display: inline-block; 
  width: 32.5em;
}

.chat_image {
  max-width: 44%;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.chat_image_popup {
  max-width: 50em; 
  max-height: 35em; 
  width: auto; 
  height: auto;
}

.chat_controls {
  border-top: 0.15em solid var(--gray-high-color);
  height: 1.8em;
  padding: 6px;
}

.chat_control_button {
  -webkit-appearance: none;
  font-size: var(--normal-font-size);
  font-family: Jambo-Medium;
  /* padding: 0.35em; */
  /* box-shadow: 0px 0.05em 0.25em var(--medium-shadow-color); */
  border: 0px solid var(--light-edge-color);
  border-radius: 0.25em;
  margin: 0 0.35em;
  /* background-color: var(--gray-high-color); */
  color: var(--dark-text-color);
  height: 2em;
  cursor: pointer;
  user-select: none;
}

.chat_control_button:focus {
  outline: none;
}

.chat_area {
  border: 0;
  margin: 0px;
  background-color: var(--light-bg-color);
  display: block;
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 8px;
	outline: none;
  font-family: inherit;
  font-size: var(--normal-font-size); 
  max-width: 100%;
  min-height: 5em;
}

.chat_date {
  border-radius: var(--small-radius);
  margin: 1em auto;
  display: table;
  /*background-color: var(--c1-color);*/
  padding: 0.85em;
  font-family: Jambo-Medium;
  font-size: var(--normal-font-size);
  font-weight: bold;
}

.message_item {
  /*margin: 10px;*/
  background-color: var(--light-bg-color);
  border-radius: var(--small-radius);
  font-family: Jambo-Medium;
  font-size: var(--normal-font-size);
  overflow-wrap: break-word;
}

.message_item .small_button {
  display: none;
}

.message_item:hover .small_button {
  display: block;
}

.message_item_other {
  /*background-color: var(--gray-high-color);*/
  color: var(--dark-text-color);
  width: 100%;
  float: left;
}

.message_item_other a:link {
  color: var(--light-text-color);
}

.message_item_self {
  /*background-color: var(--gray-mid-color);*/
  color: var(--dark-text-color);
  width: 100%;
  float: right;
  text-align: right;
}

.message_list_container {  
  
}

.message_list {

  overflow: hidden;
}

.message_container_item_self {
  background-color: var(--accent2-low-color);
  color: var(--light-text-color);
  display: inline-block; 
  border-radius: var(--small-radius);
  /*float: right;*/
  max-width: 45%;
  /*min-width: 10em;*/
  text-align: left;
  line-height: 1.4em;
}

.message_container_item_other {
  background-color: var(--gray-mid-color);
  color: var(--dark-text-color);
  border-radius: var(--small-radius);
  display: inline-block; 
  max-width: 45%;
  /*min-width: 10em;*/
  line-height: 1.4em;
}

.user_profile {
  width: 28em;
  display: inline-table;
  text-align: left;
  /*height: 30em;*/
  margin: 0.5em;
}

.circle_base {
  border-radius: 50%;   
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  font-weight: bold;
}

.circle_item {
  width: 9em;
  height: 9em;
  background-color: var(--light-bg-color);
  border: 0.25em solid var(--gray-high-color);
}

.circle_item:hover {
  background-color: var(--gray-high-color);
  cursor: pointer;
  color: var(--dark-text-color);
  border: 0.25em solid var(--gray-mid-color);
}

.circle_center {
  width: 9em;
  height: 9em;
  background-color: var(--accent1-mid-color);
  border: 0.25em solid var(--accent1-mid-color);

}

.business_container {
  width: 35em;
  margin: 0 auto;
  height: 35em;
}

.abs_cent_div {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 6em;
}

.context_back {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  z-index: 11;
  padding: 2em;
  /*padding-top: 5em;*/
  box-sizing: border-box;
}

.popup_back{
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--popup-back-bg-color);
  width: 100%;
  height: 100%;
  z-index: 11;
  padding: 2em;
  /*padding-top: 5em;*/
  box-sizing: border-box;
}

.popup_frame{
  margin: 0 auto;
  border-radius: var(--mid-radius);
  border: var(--edge-width) solid var(--edge-color);
  background-color: var(--high-bg-color);
  box-shadow: 0em 0.15em 0.4em #00000044;
  padding: var(--margin-large);  
  max-height: 100%;
  overflow: auto;
  color: var(--dark-text-color);  
  width: max-content;
  max-width: 96%;  
  box-sizing: border-box;
  position: relative;
}

.separation_line {
  width: 100%; 
  height: 0.0em; 
  background-color: var(--gray-mid-color);
  border-width:0;
  /*margin-bottom: 20px;*/
  display: table;
}

.avatar_change {
  position:absolute; 
  top: 0px; 
  left: 0px;
  text-shadow: 0px 0px 5px #000; 
  color: white; 
  font-size: 20px; 
  opacity: 0;
  width: 250px;
  height: 250px;
  line-height: 250px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.avatar_change:hover {
  opacity: 1;
  animation: fadeIn ease 0.2s;
}  

.logo_change {
  cursor: pointer;
}

.logo_change span {
  text-shadow: 0px 0px 5px #000; 
  color: white; 
  font-size: 30px; 
  opacity: 0; 
  position: relative;  
  top: -150px;
}

.logo_change:hover span {
  opacity: 1;
  animation: fadeIn ease 0.2s;
}

.image_logo {
	width:200px;	
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.super_imposed_button {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  /* text-shadow: 0px 0px 5px #000; */
  padding: 2em;
  background-color: #00000055;
  border-radius: var(--large-radius);
  font-family: Jambo-Medium;
  color: white;
}

.super_imposed_container {
  position: absolute;
  height: 15em;
  width: 100%;
  text-align: center;
  line-height: 15em;  
  opacity: 0;
}

.super_imposed_container:hover {
  opacity: 1;
  animation: fadeIn ease 0.2s;
  cursor: pointer;
}

.back_office_content {
  position: relative; 
  width: 100%; 
  padding: 4em;
}

.progressFrame {
  border-radius: var(--small-radius);
  background-color: var(--gray-high-color);
  height: var(--button-height);  
  text-align: center;
  letter-spacing: 0.05em;  
  box-sizing: border-box;
  user-select: none;
  font-family: Jambo-Medium;

  border: 0em solid transparent;
  margin: 0.25em;
  color: var(--dark-text-color);
}

.progressBar {
  border-radius: var(--small-radius);
  background-color: var(--accent1-mid-color);
  height: 100%;

  text-align: center;
  letter-spacing: 0.05em;
  padding: 0.5em;
  box-sizing: border-box;
  user-select: none;
  font-family: Jambo-Medium;
  font-size: var(--normal-font-size);
  cursor: pointer;
  border: 0em solid transparent;
  color: var(--light-text-color);
}

.progressMessage {
  text-align: center;
  padding: 1em;
  font-size: var(--large-font-size);
}

.progressForm {
  width: 50%;
  margin: 0px auto;
  min-width: 30em;
}

table.settings_table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  font-size: var(--normal-font-size);
}

table.settings_table th {
  background-color: var(--accent1-mid-color);
  color: var(--light-text-color);
  padding: 0.8em;
  text-align: right;
  min-width: 7.5em;
}

table.settings_table td {
  background-color: var(--gray-mid-color);
  color: var(--dark-text-color);
  padding: 0.8em;
  text-align: left;
  min-width: 12.5em;
}

table.rows_table {
  border-collapse: collapse;
  box-shadow: 0em 0.1em 0.5em var(--medium-shadow-color);
  margin-left:auto;
  margin-right:auto;
  font-size: var(--normal-font-size);
}

table.rows_table th {
  background-color: var(--gray-mid-color);
  color: var(--light-text-color);
  padding: 0.4em;
  text-align: right;
  min-width: 7.5em;
}

table.rows_table td {
  background-color: var(--high-bg-color);
  color: var(--dark-text-color);
  padding: 0.4em;
  text-align: left;
  min-width: 12.5em;
}

table.market_table {
  border-collapse: collapse;
  box-shadow: 0em 0.1em 0.5em var(--medium-shadow-color);
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  font-size: var(--normal-font-size);
}
table.market_table th {
  background-color: var(--accent1-mid-color);
  color: var(--light-text-color);
  padding: 0.5em;
  text-align: center;
  min-width: 3em;
}
table.market_table td {
  /*background: #fff;*/
  color: var(--dark-text-color);
  padding: 0.5em;
  text-align: left;

}
table.market_table_example{
  border-collapse: collapse;
  box-shadow: 0em 0.1em 0.5em var(--medium-shadow-color);
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  font-size: var(--normal-font-size);
}

table.market_table_example th {
  background-color: var(--gray-mid-color);
  color: var(--light-text-color);
  padding: 0.5em;
  text-align: center;
  min-width: 6em;
}
table.market_table_example td {
  background: var(--high-bg-color);
  color: var(--dark-text-color);
  padding: 0.5em;
  text-align: left;
}

table.checkbox_table{
  width: 100%;
}

table.checkbox_table td {
  width: 50%;
}

.table_input, .table_number_input {
  margin: 0 auto;
  background-color: initial;
  border: 0em;
  font-family: Jambo-Medium;
  font-size: var(--normal-font-size);
  width: 100%;
  box-sizing: border-box;
  color: var(--dark-text-color);
}

.table_number_input {
  text-align: right;
}

.table_input:focus {	
	outline: none;
}

.hor_tab {
  color: var(--edge-color); 
  padding-left: 2em;
  padding-right: 1em;  
  display: inline; 
  font-family: Jambo-Heading-Medium;
  cursor: pointer;
  user-select: none;
}

.hor_tab:hover {
  color: var(--accent1-low-color);
}

.hor_tab_selected {
  color: var(--accent1-low-color);
}

table.market_table col:nth-child(even) { background: var(--high-bg-color); }
table.market_table col:nth-child(odd) { background: var(--gray-high-color); }

.maxw_very_large {
  max-width: 120em;
  margin: 0 auto;
}

.maxw_larger {
  max-width: 100em;
  margin: 0 auto;
}

.maxw_large {
  max-width: 90em;
  margin: 0 auto;
}

.maxw {
  max-width: 80em;
  margin: 0 auto;
}

.maxw_medium {
  max-width: 70em;
  margin: 0 auto;
}

.left33 {
  display: inline-table;
  width: 32%;
  /*border: 1px solid #FFF;*/
}

.left50 {
  display: inline-table;
  width: 50%;
  float: left;
  /*border: 1px solid #FFF;*/
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.faded_controls {
	animation: fadeOut30 ease 0.4s;
	opacity: 0.3;
}

.faded_controls:hover {
	animation: fadeIn30 ease 0.4s;
	opacity: 1.0;
}

.active, .dot:hover {
  background-color: #717171;
}

.centered_element{
  margin: 0 auto;
}

.tabled {
  display: table;
}

.w30p {
   width: 30%;
}

.w20p {
   width: 20%;
}

.w25p {
   width: 25%;
}

.w50p {
   width: 50%;
}

.padding_very_large {
  padding: 10.0em;
}

.padding_large {
  padding: 7.5em;
}

.padding_medium {
  padding: 5.0em;
}

.padding_normal {
  padding: 2.5em;
}

.padding_small {
  padding: 1.0em;
}

.narrow {
  width: 12em;
}

.mid {
  width: 16em;
}

.more_narrow {
  width: 10em;
}

.extra_narrow {
  width: 5em;
}

.super_narrow {
  width: 2.5em;
}

.wide {
  width: 22em;  
}

.extra_wide {
  width: 35em;  
}

.w100p {
  width: 100%;
}

.medium_bold {
  font-family: Jambo-Medium;
  font-weight: bold;
}

.medium_size {
  width: 9em;
}

.margin_tiny {
  margin: var(--margin-tiny) ;
}

.marginSmall, .marg10 , .margin10 {
  margin: var(--margin-small) ;
}

.marginMedium {
  margin: var(--margin-medium) ;
}

.marginLarge {
  margin: var(--margin-large) ;
}

.margside10 {
  margin-left: 10px;
  margin-right: 10px;
}

.paragraph {
  margin-top: 0.6em;
  font-size: var(--normal-font-size);
  line-height: 170%;
  text-align: left;
}

.content_inline {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.align_right {
  text-align: right;
}
.align_left {
  text-align: left;
}

.text_xxl {
  font-size: var(--xxl-font-size);
}

.text_xl {
  font-size: var(--xl-font-size);
}

.text_large {
  font-size: var(--large-font-size);
}

.text_medium {
  font-size: var(--medium-font-size);
}

.text_normal {
  font-size: var(--normal-font-size);
}

.text_dark {
  color: var(--dark-text-color);
}

.text_light {
  color: var(--light-text-color);
}

.text_heading_blue {
  color: var(--accent2-low-color);
  font-weight: bold;
}

.italic_quote {
  font-size: var(--large-font-size);
  font-style: italic;
}

.fade_in {
  animation: fadeIn ease 0.4s;
}

.fade_out {
  animation: fadeOut ease 0.4s;
  opacity: 0;
}


.ql-toolbar.ql-snow {
  margin-right: 0;
}


@keyframes momIn {
  0% {
    right: calc(0em - var(--mom-width));
  }
  100% {
    right: 0em;
  }
}

@keyframes momOut {
  0% {
    right: 0em;
  }
  100% {
    right: calc(0em - var(--mom-width));
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn30 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut30 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.grow_up{
  height: auto;
  animation: growUp ease 0.5s;
}

@keyframes growUp {
  0% {
    max-height: 50px;
  }
  100% {
    max-height: 500px;
  }
}

.zoom_in {
  animation: zoomIn ease 0.2s;
}

.fade_in_delayed {
  animation: fadeInDelayed ease 0.8s;
}


@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.0);
  }
}

