<div class="context_back fade_in" onclick="onContextBackgroundClicked(event)">
  <div class="context_menu zoom_in" id="context_menu">
    <div class="context_text translate">Link copied to clipboard</div>
    <div class="context_text translate">Send link with you favorite message service</div>
  </div>
</div>
