<div class="context_back fade_in" onclick="onContextBackgroundClicked(event)">
  <div class="context_menu zoom_in" id="context_menu">
    <div class="context_item translate" id="mic_only_menu_button">Mic only</div>
    <div class="context_item translate" id="mic_cam_menu_button">Mic and Camera</div>
  </div>
</div>
